<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong>vanhien &copy; 2020-2030 <a href="">Lite Commmerce</a>.</strong> All rights
    reserved.
</footer>
