@model LiteCommerce.DomainModels.Countrie
@{


}

<div class="box box-primary">
    <form role="form" action="~/Countrie/Input" method="post">
        <div class="box-header text-right">
            <a href="~/Countrie">Back to List</a>
        </div>
        <div class="box-body">
            <input type="hidden" name="method" value="@ViewBag.Title" />
            <input type="hidden" name="Country" value="@Model.CountryName" />
            <div class="form-group">
                <label>Country Name:<span style="color:red">@Html.ValidationMessage("CountryName")</span></label>
                <input type="text" class="form-control" placeholder="Enter Country Name" name="CountryName" value="@Model.CountryName">
            </div>


        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Countrie">
                Cancel
            </a>
        </div>
    </form>
</div>

